* {
  padding: 0;
  margin: 0;
}
.heading {
  padding: 10px 10px;
  margin: 10px 10px;
  font-family: helvetica;
  background-color: white;
  display: flex;
}
.heading > .logo {
  padding: 10px 10px;
}
.heading > .logo > h1 {
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 5px;
}
.heading > .logo > a {
  color: black;
  text-decoration: underline;
  font-size: 15px;
}
.heading > .menu {
  padding: 10px 10px;
  margin: 10px 20px;
  font-family: helvetica;
  position: absolute;
  top: 50px;
  right: 10px;
}
.heading > .menu > #menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.heading > .menu > #menu-items i {
  font-size: 20px;
}
.heading > .menu > #menu-items > li {
  display: inline;
  padding: 2px 5px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.heading > .menu > #menu-items > #Login:hover {
  opacity: 0.6;
}
.heading > .menu > #menu-items > li > a {
  color: black;
  text-decoration: none;
}
.heading > .menu > #menu-items > li > a:hover {
  text-decoration: none;
}

.parallax-window {
  margin-left: 30px;
  margin-right: 30px;
  min-height: 700px;
  background: transparent;
}
.Home {
  min-height: 700px;
  font-family: helvetica;
}
.Home > .Brand-name {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.Home > .Brand-name > h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px;
}
.Home > .Brand-name > p {
  font-size: 18px;
}
.projects {
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  margin-top: -580px;
  font-family: helvetica;
}
.projects > h6 {
  font-size: 40px;
  padding: 10px 10px;
  margin-bottom: 50px;
  font-weight: bold;
}
.grid {
  width: 100%;
  text-align: center;
}

.grid > .modal::after {
  display: flex;
}
.grid-item > img {
  width: 400px;
  padding: 20px 40px;
  transition: 1s ease-in;
  backface-visibility: hidden;
}
.grid-item > img:hover {
  opacity: 0.4;
}

.philosophy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px;
  font-family: helvetica;
}
.philosophy > .message {
  padding: 10px 10px;
  text-align: left;
  margin-left: -20px;
}
.philosophy > .message > h6 {
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
}
.philosophy > .message > p {
  font-size: 15px;
  margin-right: 40px;
  font-weight: 500;
}
.philosophy > .message > button {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 40px;
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.philosophy > .message > button:hover {
  color: white;
  transition: 0.7s ease;
  background-color: black;
}
.philosophy > .designer {
  padding: 5px 5px;
  margin: 5px 5px;
  margin-right: -20px;
}
.philosophy > .designer > img {
  margin-right: 0px;
}
.container {
  margin-top: 60px;
  margin-bottom: 20px;
}
.container > h6 {
  padding: 10px 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 90px;
}
.container > img {
  opacity: 0.7;
}
.modal {
  padding: 20px 20px;
  margin: 20px 20px;
  text-align: center;
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: block;
  text-align: center;
  padding: 20px 20px;
  margin: 30px 30px;
  margin-top: 90px;
  font-family: helvetica;
}
.footer > .subscribe-form {
  padding: 10px 10px;
  font-family: helvetica;
}
.footer > .subscribe-form > form {
  margin-top: 50px;
  padding: 10px 10px;
}
.footer > .subscribe-form > h6 {
  font-size: 40px;
  font-weight: bold;
}
.footer > .subscribe-form > form > input[type="text"],
input[type="email"] {
  color: black;
  margin: 10px 10px;
}
.footer > .subscribe-form > form > button {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 15px;
  margin: 10px 10px;
  background-color: white;
  border: 1px solid black;
  color: black;
}
.footer > .subscribe-form > form > button:hover {
  color: white;
  transition: 0.7s ease;
  background-color: black;
}
.footer > .social {
  padding: 20px 20px;
  margin-top: 70px;
}
.footer > .social > a {
  color: black;
  margin: 5px 10px;
}
.footer > .rights {
  padding: 10px 10px;
  margin: 10px 10px;
}
